@model IEnumerable<UniWisers.Models.UserPostDTO>
@{
}
@foreach (var post in Model)
{
        <div class="card">
            <div class="filter">
            @if (@post.UserId == ViewBag.User.Id)
            {
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li>
                        @Html.ActionLink("Delete","DeletetUserPost","home",new{id=post.Id},new {@class="dropdown-item"})
                        @*<a class="" href="home/DeletetUserPost/@post.Id">Delete</a></li>*@
                        </ul>
            }
            </div>
            <br/>
            <div class="card-body">
                <nav class="header-nav ms-auto">
                    <ul class="d-flex align-items-center">
                        <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            @if (@ViewBag.User.ProfilePicUrl != null)
                            {
                                <img src="~/Uploads/@ViewBag.User.ProfilePicUrl" height="30" width="30" alt="Profile" class="rounded-circle">
                            }
                            else
                            {
                                <img src="~/assets/img/profile.jpg" alt="Profile" height="30" width="30" class="rounded-circle">
                            }
                                <span class="d-none d-md-block ps-2"> &nbsp;@post.FirstName @post.LastName</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <br/>
                <p class="card-text">@post.PostData</p>
            </div>
        @if (post.postImageUrl != "")
        {
                    <img src="~/Uploads/@post.postImageUrl" class="card-img-bottom" alt="~/assets/img/profile-i.jpg">
            @*height="400" width="200"*@
        }  
        </div>
    
}